CompileFlags:
  CompilationDatabase: build/debug
  Add:
    - -I.
    - -Iinclude
    - -Izlay
    - -Ibuild/debug/generated
    - -DZLAY_BUILDING
---
If:
  PathMatch: .*\.c
CompileFlags:
  Add:
    - -std=gnu11
---
If:
  PathMatch: .*\.h
CompileFlags:
  Add:
    - -xc-header
    - -std=gnu11
